@model CategoryVM

<div class="container mt-5">
	<h2>Category Details</h2>

	<h3 class="mt-3">@Model.Name</h3>
	<a class="btn btn-primary" asp-area="Admin" asp-controller="Category" asp-action="Index">Exit</a>
</div>